attrs==22.1.0
flake8==5.0.4
iniconfig==1.1.1
mccabe==0.7.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
tomli==2.0.1
python-dotenv==0.21.0
pytest-order==1.0.1
pytest-dependency==0.5.1
Django==3.2.12
pytest-django==4.5.2
pytest-pythonpath==0.7.4
pytest==6.2.5
