{% extends 'base.html' %}

{% block title %}Лента записей{% endblock %}

{% block content %}
  <h1>Лента записей</h1>
  {% for post in posts %}
  <hr>
  <article>
    <ul>
      <li>
        Место: {{ post.location }}
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{{ post.category }}">{{ post.category }}</a>
      </li>
      <!-- Первые 10 слов -->
      <p>
        {{ post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    </article>
    {% endfor %}
  {% endlock %}
